server:
  host: 0.0.0.0
routes:
- name: user-service
  path: /api/docs
  target: http://localhost:8000/docs#
  description: 用户服务代理
  request_rules:
    add_params:
      _from: proxy
    add_headers:
      X-Proxy-Source: secure-gateway
    del_params:
    - debug
  response_rules:
    mask_regex:
    - pattern: (\d{3})\d{4}(\d{4})
      replacement: \1****\2
    - pattern: (\d{6})\d{8}(\d{4})
      replacement: \1********\2
- name: order-service
  path: /api/orders
  target: https://internal-order-service.local
  method: GET
  description: 订单查询（只读）
- name: baidu-service
  path: /uri/baidu
  target: https://www.baidu.com
  description: Baidu
